*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: #ffffff;
    --Light-grey: #d6e2f0;
    --Grayish-blue: #7b879d;
    --Dark-blue: #1f3251;
}

main{
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    background-color: var(--Light-grey);
    display: grid;
    place-content: center;
}

main > .card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 12px;
    background-color: var(--White);
}

.card section{
    width: 100%;
}

.qrcode{
    margin-bottom: 16px;
}

.qrcode > img{
    max-width: 100%;
    border-radius: 8px;
}

.text-content{
    margin-bottom: 16px;
    padding: 0px 8px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.text-content > h2{
    font-size: 1.12rem;
    margin-bottom: 16px;
    font-weight: 700;
    color: var(--Dark-blue);

}

.text-content > p{
    color:var(--Grayish-blue);
    font-size: 0.8rem;
    font-weight: 400;
}