@import url("./css-modules/Header.css");
@import url("./css-modules/Footer.css");
@import url("./css-modules/Sections.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Início - Estilos gerais*/
:root {
    --grayish-blue: #9698a6;
    --light-grayish-blue: #f3f4f6;
    --Very-light-gray: #fafafa;
    --lime-green: #31d35c;
    --gright-cyan: #2bb7da;
    --dark-blue: #2d314d;
    --grayish-dark-blue: #3d4053;
    --overlay-dark-blue: #2d314daf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

body {
    @apply min-w-fit;
}

body::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--light-grayish-blue);
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #0000004d;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--grayish-dark-blue);
    border-radius: 1rem;
    border: 0.125rem solid transparent;
    border: 2px solid var(--light-grayish-blue);
}

#root {
    @apply mdd:overflow-hidden;
}

main {
    grid-template-rows: min-content min-content min-content auto;
    @apply m-auto min-h-screen grid;
}

p,
h1,
h2,
h3 {
    @apply break-words;
}

.inner-container {
    @apply max-w-[1158px] h-full flex m-auto justify-between items-center;
}

.req-invite-button {
    @apply px-7 py-[0.6rem] rounded-full from-[var(--lime-green)] ring-2
    ring-transparent hover:ring-slate-200 bg-gradient-to-r text-white shadow-md
    via-[var(--gright-cyan)] to-[var(--lime-green)] transition-[box-shadow]
    hover:animate-[gradient-transition_0.75s_infinite_linear] whitespace-nowrap
    focus-visible:animate-[gradient-transition_0.75s_infinite_linear]
    focus-within:ring-2 focus-visible:ring-slate-200;
    background-size: 170%;
}

.scrollup-button {
    @apply p-2 rounded-full bg-[var(--grayish-dark-blue)] shadow-md duration-200
    shadow-[#2d314d7a] hover:bg-[var(--dark-blue)] transition-[background-color];
}

.hide-down {
    @apply translate-y-20;
}
/*Fim - Estilos gerais*/
