/* Início - Sessão inicial */
.intro {
    @apply bg-[var(--Very-light-gray)] w-full bg-fixed bg-no-repeat relative;
}

.intro__inner-container {
    background-image: url("/images/bg-intro-desktop.svg");
    background-position: calc(62vw - 42vh) -180px;
    @apply h-full max-w-[1440px] m-auto px-0 bg-fixed bg-no-repeat relative
    overflow-hidden;
    @apply mdd:px-8 mdd:overflow-visible;
}

.intro__content-wrapper {
    @apply flex flex-col-reverse pb-16 gap-5;
    @apply mdd:flex-row mdd:pb-0 mdd:gap-0;
}

.intro__text-wrapper {
    @apply py-0 px-6 text-center;
    @apply mdd:max-w-[450px] mdd:px-0 mdd:py-40 mdd:text-left;
}

.intro__title {
    @apply text-[2.4rem] text-[var(--dark-blue)] mb-4 leading-[1.20] invisible
    mix-blend-multiply;
    @apply mdd:text-[3.5rem];
}

.intro__description {
    @apply text-[var(--grayish-blue)] mb-8 relative text-base invisible;
    @apply mdd:text-lg mdd:mb-9;
}

.intro__btn--cta {
    @apply invisible;
}

.intro__mockups-wrapper {
    @apply w-full px-6 bg-no-repeat bg-cover bg-top visible;
    @apply mdd:w-[55%] mdd:absolute mdd:-translate-y-[46%] mdd:translate-x-[18%]
    mdd:right-0 mdd:top-1/2 mdd:px-0 mdd:invisible;
}

.intro__mockups-wrapper--visible {
    @apply visible;
}

@media only screen and (max-width: 900px) {
    .intro__inner-container {
        background-image: none;
    }

    .intro__mockups-wrapper {
        background-image: url("/images/bg-intro-mobile.svg");
    }
}
/* Fim - Sessão inicial */

/* Início - Sessão de serviços */
.services {
    @apply w-full bg-[var(--light-grayish-blue)] px-6 py-16 overflow-hidden;
    @apply mdd:px-6 mdd:py-24;
}

.services__inner-container {
    @apply block;
}

.services__title {
    @apply text-[2rem] text-[var(--dark-blue)] mb-4 invisible;
    @apply mdd:text-[2.50rem];
}

.services__description {
    @apply text-base text-[var(--grayish-blue)] invisible;
    @apply mdd:text-lg;
}

.services__services-wrapper {
    @apply flex gap-8 flex-col mdd:flex-row mdd:text-left text-center;
}
/* Fim - Sessão de serviços */

/* Início - Sessão de artigos */
.articles {
    @apply bg-[var(--Very-light-gray)] w-full px-6 py-16 overflow-hidden;
    @apply mdd:px-8 mdd:py-24;
}

.articles__inner-container {
    @apply block;
}

.articles__title {
    @apply text-[2rem] text-[var(--dark-blue)] mb-6 text-center invisible;
    @apply mdd:mb-12 mdd:text-left mdd:text-[2.50rem];
}

.articles__articles-wrapper {
    @apply flex gap-8 flex-col mdd:flex-row;
}
/* Fim - Sessão de artigos */
