/* Início - Sessão inicial */
.main-title {
    @apply text-[2.4rem] text-[var(--dark-blue)] mb-4 leading-[1.20] invisible
    mix-blend-multiply;
    @apply mdd:text-[3.5rem];
}

.intro-section {
    @apply bg-[var(--Very-light-gray)] w-full bg-fixed bg-no-repeat relative;
}

.intro-section .req-invite-button {
    @apply invisible;
}

.intro-section .outter-container {
    background-image: url("../../public/images/bg-intro-desktop.svg");
    background-position: calc(62vw - 42vh) -180px;
    @apply h-full max-w-[1440px] m-auto px-0 bg-fixed bg-no-repeat relative
    overflow-hidden;
    @apply mdd:px-8 mdd:overflow-visible;
}

.intro-section .inner-container {
    @apply flex-col-reverse pb-16 gap-5;
    @apply mdd:flex-row mdd:pb-0 mdd:gap-0;
}

.intro-section .text-wrapper {
    @apply py-0 px-6 text-center;
    @apply mdd:max-w-[450px] mdd:px-0 mdd:py-40 mdd:text-left;
}

.text-wrapper > p {
    @apply text-[var(--grayish-blue)] mb-8 relative text-base;
    @apply mdd:text-lg mdd:mb-9;
}

.mockups-wrapper {
    @apply w-full px-6 bg-no-repeat bg-cover bg-top visible;
    @apply mdd:w-[55%] mdd:absolute mdd:-translate-y-[46%] mdd:translate-x-[18%]
    mdd:right-0 mdd:top-1/2 mdd:px-0 mdd:invisible;
}

.mockups-wrapper.is-visible {
    @apply visible;
}

@media only screen and (max-width: 900px) {
    .intro-section .outter-container {
        background-image: none;
    }

    .mockups-wrapper {
        background-image: url("../../public/images/bg-intro-mobile.svg");
    }
}
/* Fim - Sessão inicial */

/* Início - Sessão de serviços */
.services-section {
    @apply w-full bg-[var(--light-grayish-blue)] px-6 py-16 overflow-hidden;
    @apply mdd:px-6 mdd:py-24;
}

.services-section > .inner-container {
    @apply block;
}

.services-section h2 {
    @apply text-[2rem] text-[var(--dark-blue)] mb-4 invisible;
    @apply mdd:text-[2.50rem];
}

.services-section .service-icon {
    @apply w-fit m-[0_auto_1.5rem] rounded-full shadow-lg;
    @apply mdd:m-[0_0_2.25rem];
}

.service h3 {
    @apply text-[var(--dark-blue)] text-xl mb-4 mdd:mb-7;
    @apply mdd:text-2xl;
}
/* Fim - Sessão de serviços */

/* Início - Sessão de artigos */
.articles-section {
    @apply bg-[var(--Very-light-gray)] w-full px-6 py-16 overflow-hidden;
    @apply mdd:px-8 mdd:py-24;
}

.articles-section h2 {
    @apply text-[2rem] text-[var(--dark-blue)] mb-6 text-center invisible;
    @apply mdd:mb-12 mdd:text-left mdd:text-[2.50rem];
}

.articles-section .article {
    @apply bg-white overflow-hidden rounded-md text-[var(--grayish-blue)]
    shadow-md invisible transition duration-200;
}

.article:hover {
    transform: translateY(-0.75rem);
}

@media only screen and (max-width: 900px) {
    .article:hover {
        transform: scale(1.03);
    }
}

.article .article-link {
    @apply block hover:text-[var(--lime-green)] transition-all duration-100
    text-[var(--dark-blue)] leading-[1.25] mb-2 focus-visible:text-[var(--lime-green)];
}
/* Fim - Sessão de artigos */
