/*Início - Estilos gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-dark-blue: #0d192b;
    --card-dark-blue: #14253d;
    --line-dark-blue: #2e415c;
    --white: #ffffff;
    --text-light-blue: #a9b8cfd7;
    font-family: 'Outfit', sans-serif;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Fim - Estilos gerais*/

/*Início - Estilizando o card NFT*/
main{
    display: grid;
    place-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background-color: var(--main-dark-blue);
}

main > .card{
    width: 254px;
    background-color: var(--card-dark-blue);
    padding: 1.12rem;
    border-radius: 0.75rem;
    margin-bottom: 2.5rem;
}

.card > section {
    width: 100%;
    margin-bottom: 1rem;
}

.card-image{
    position: relative;
    max-height: fit-content;
    cursor: pointer;
}

.card-image > .card-image-overlay{
    position: absolute;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #00fff771;
    border-radius: 0.5rem;
    opacity: 0%;
    transition: opacity 0.2s;
}

.card-image-overlay > img{
    transform: rotateX(90deg);
    width: 2rem;
    height: 2rem;
    transition: transform 0.2s;
}

.card-image:hover .card-image-overlay{
    opacity: 100%;
}

.card-image:hover > .card-image-overlay > img{
    transform: rotateX(0deg);
}

.card-image > img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-content{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--line-dark-blue);
}

.card-content h2{
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    transition: 0.2s;
    cursor: pointer;
}

.card-content h2:hover{
    color: #00FFF8;
}

.card-content p{
    color: var(--text-light-blue);
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.market-content > .price, .time-left{
    gap: 5px;
    font-size: 0.75rem;
    font-weight: 400;
}

.price{
    color: #00FFF8;
}

.price > img{
    max-width: 0.8rem;
    height: 0.8rem;
    font-size: 0.6rem;
}

.time-left{
    color: var(--text-light-blue);
}

.time-left > img{
    max-width: 0.8rem;
    height: 0.8rem;
    font-size: 0.6rem;    
}

.card .created-by{
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 0.2rem;
}

.created-by > img{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.6rem;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.created-by > p{
    color: var(--text-light-blue);
    font-weight: 300;
    font-size: 0.75rem;
}

.created-by span{
    color: var(--white);
    cursor: pointer;
    transition: color 0.2s;
}

.created-by span:hover{
    color: #00FFF8;
}
/*Fim - Estilizando o card NFT*/

/*Início - Footer*/
footer > .coded-by{
    text-align: center;
    font-size: 0.75rem;
}

.coded-by > p, .coded-by > a{
    color:var(--white);
    font-weight: 300;
    line-height: 1.5;
    text-decoration: none;
}

.coded-by > a, .coded-by span{
    color: #00FFF8;
}
/*Fim - Footer*/

/*Media queries*/
@media only screen and (max-width:375px){
    html{
        font-size: 130%;
    }

    main{
        justify-content: flex-start;
    }
    
    main .card{
        width: 100%;
        min-width: 320px;
        padding: 1.1rem;
    }
}
